* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
}
body {

    direction: rtl;
    font-family: 'Cairo', sans-serif !important;
}
a {
    &:hover, &:focus {
        text-decoration: none;
        color:$orange_color
    }
}

.left-line {
    margin-bottom:30px;
    color: $red_color;
    border-right: 4px solid $red_color;
    padding-right: 10px;
}